:root {
  --color-main: white;
  --color-brand: #f5d10c;
  --font-main: Anjoman;
  --font-home: "Reem Kufi", sans-serif;
  --font-home2: "Lemonada", cursive;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #000000;
  color: white;
  direction: rtl;
  font-family: var(--font-main);
  overflow: hidden;
}

.container {
  max-width: 1300px;
  padding: 0 30px;
  margin: auto;
}

/* Font Family */

@font-face {
  font-family: Anjoman;
  font-style: normal;
  font-weight: 100;
  src: url("../public/fonts/eot/Anjoman-Thin.eot");
  src: url("../public/fonts/eot/Anjoman-Thin.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-8 */ url("../public/fonts/woff2/Anjoman-Thin.woff2") format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/ url("../public/fonts/woff/Anjoman-Thin.woff")
      format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
  font-family: Anjoman;
  font-style: normal;
  font-weight: 200;
  src: url("../public/fonts/eot/Anjoman-ExtraLight.eot");
  src: url("../public/fonts/eot/Anjoman-ExtraLight.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-8 */ url("../public/fonts/woff2/Anjoman-ExtraLight.woff2")
      format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/
      url("../public/fonts/woff/Anjoman-ExtraLight.woff") format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
  font-family: Anjoman;
  font-style: normal;
  font-weight: 300;
  src: url("../public/fonts/eot/Anjoman-Light.eot");
  src: url("../public/fonts/eot/Anjoman-Light.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-8 */ url("../public/fonts/woff2/Anjoman-Light.woff2") format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/
      url("../public/fonts/woff/Anjoman-Light.woff") format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
  font-family: Anjoman;
  font-style: normal;
  font-weight: 500;
  src: url("../public/fonts/eot/Anjoman-Medium.eot");
  src: url("../public/fonts/eot/Anjoman-Medium.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-8 */ url("../public/fonts/woff2/Anjoman-Medium.woff2")
      format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/
      url("../public/fonts/woff/Anjoman-Medium.woff") format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
  font-family: Anjoman;
  font-style: normal;
  font-weight: 600;
  src: url("../public/fonts/eot/Anjoman-SemiBold.eot");
  src: url("../public/fonts/eot/Anjoman-SemiBold.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-8 */ url("../public/fonts/woff2/Anjoman-SemiBold.woff2")
      format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/
      url("../public/fonts/woff/Anjoman-SemiBold.woff") format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
  font-family: Anjoman;
  font-style: normal;
  font-weight: 750;
  src: url("../public/fonts/eot/Anjoman-ExtraBold.eot");
  src: url("../public/fonts/eot/Anjoman-ExtraBold.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-8 */ url("../public/fonts/woff2/Anjoman-ExtraBold.woff2")
      format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/
      url("../public/fonts/woff/Anjoman-ExtraBold.woff") format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
  font-family: Anjoman;
  font-style: normal;
  font-weight: 800;
  src: url("../public/fonts/eot/Anjoman-UltraBold.eot");
  src: url("../public/fonts/eot/Anjoman-UltraBold.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-8 */ url("../public/fonts/woff2/Anjoman-UltraBold.woff2")
      format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/
      url("../public/fonts/woff/Anjoman-UltraBold.woff") format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
  font-family: Anjoman;
  font-style: normal;
  font-weight: 850;
  src: url("../public/fonts/eot/Anjoman-Black.eot");
  src: url("../public/fonts/eot/Anjoman-Black.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-8 */ url("../public/fonts/woff2/Anjoman-Black.woff2") format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/
      url("../public/fonts/woff/Anjoman-Black.woff") format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
  font-family: Anjoman;
  font-style: normal;
  font-weight: 900;
  src: url("../public/fonts/eot/Anjoman-Heavy.eot");
  src: url("../public/fonts/eot/Anjoman-Heavy.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-8 */ url("../public/fonts/woff2/Anjoman-Heavy.woff2") format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/
      url("../public/fonts/woff/Anjoman-Heavy.woff") format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
  font-family: Anjoman;
  font-style: normal;
  font-weight: bold;
  src: url("../public/fonts/eot/Anjoman-Bold.eot");
  src: url("../public/fonts/eot/Anjoman-Bold.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-8 */ url("../public/fonts/woff2/Anjoman-Bold.woff2") format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/ url("../public/fonts/woff/Anjoman-Bold.woff")
      format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
  font-family: Anjoman;
  font-style: normal;
  font-weight: normal;
  src: url("../public/fonts/eot/Anjoman-Regular.eot");
  src: url("../public/fonts/eot/Anjoman-Regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-8 */ url("../public/fonts/woff2/Anjoman-Regular.woff2")
      format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/
      url("../public/fonts/woff/Anjoman-Regular.woff") format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
